.bigBox{
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.date{

  color: green;
  display: inline;

}
.hideBody{

display: none;
}


.sender{

  margin: 5px;
  color:red;
}

.subject{

  margin: 5px;
  color:purple;
}
.bodyMessage{
	display: inline-block;
	margin: 5px;
	color:pink;
}