.bigBox{
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.date{

  color: green;
  display: inline;

}
.hideBody{
color:red;
display: none;
}



 .flip {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  border: solid 1px #a6d8a8;
  margin: auto;
}


.sender{

  margin: 5px;
  color:red;
}

.subject{

  margin: 5px;
  color:purple;
}
.bodyMessage{
	display: inline-block;
	margin: 5px;
	color:black;
}